<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit Page</h1>

    <form action="/save/{{ task.id }}" method="post">
        <label for="edited_task_content">Task</label>
        <input name="edited_task_content" type="text" value="{{ task.content }}">
        <button type="submit">Save</button>
        <a href="{{url_for('cancel')}}">Cancel</a>
    </form>
</body>

</html>